<ul>
	
	<!-- Sign up -->
	<li><%= link_to t('general.action.sign_up'), sign_up_path %></li>
	
	<!-- Sign in -->
	<li><%= link_to t('general.action.sign_in'), sign_in_path %></li>

	<% if user_signed_in? %>

		<!-- Sign out -->
		<li><%= link_to t('general.action.sign_out'), sign_out_path, method: :delete %></li>

	<% end %>

</ul>