<ul class="copy">
	<li class="client">
		<%= render partial: "layouts/ric_admin/footer_copy_item", locals: { name: RicAdmin.client_name, year: RicAdmin.client_year, url: RicAdmin.client_url, image: RicAdmin.client_image } %>
	</li>
	<li class="developer">
		<%= render partial: "layouts/ric_admin/footer_copy_item", locals: { name: RicAdmin.developer_name, year: RicAdmin.developer_year, url: RicAdmin.developer_url, image: RicAdmin.developer_image } %>
	</li>
</ul>