<div class="row">
	<% rest_width = 12 %>
	<% RicBoard.board_panels.each do |panel, panel_options| %>
		<% if lookup_context.find_all("ric_board/board_panels/_#{panel.to_s}").any? %>
			<% if panel_options[:show_if] ? eval("(#{panel_options[:show_if]}) == true") : true %>
				<% partial = render(partial: "ric_board/board_panels/#{panel.to_s}").trim(" \t\n").html_safe %>
				<% if !partial.blank? %>
					<% width = panel_options[:width] ? panel_options[:width] : (options[:columns] ? (12 / options[:columns]) : 4) %>
					<% rest_width -= width %>
					<% if rest_width < 0 %>
						<% rest_width = 12 - width%>
						</div>
						<div class="row">
					<% end %>
					<div class="col-sm-<%= width %>">
						<%= partial %>
					</div>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>