$ric-dms-gutter-width: 10px !default;
$ric-dms-tile-width: 150px !default;
$ric-dms-split-folders-and-files: false !default;

.ric-dms-listing {
	margin-left: ceil(-$ric-dms-gutter-width/2);
	margin-right: floor(-$ric-dms-gutter-width/2);
}

.ric-dms-folder, .ric-dms-file {
	display: inline-block;
	margin: 0 floor($ric-dms-gutter-width/2) $ric-dms-gutter-width ceil($ric-dms-gutter-width/2);
	width: $ric-dms-tile-width;
	vertical-align: top;

	.ric-dms-mime-type {
		display: block;
		margin-bottom: 5px;
	}

	.ric-dms-title {
		display: block;
	}

	a {
		padding: 5px;
		display: block;
		text-align: center;

		&.active {
			background: $navbar-default-link-active-bg;
		}
	}


}

@if $ric-dms-split-folders-and-files == false {
	.ric-dms-listing-folders, .ric-dms-listing-files {
		display: inline;
	}
}