<h1>Welcome to example.com</h1>
<p>
	You have successfully signed up to example.com<br>
	your username is: <%= @user.email %><br>
	your password is: <%= @tmp_password %><br>
</p>
<p>To login to the site, just follow this link: <%= @login_url %></p>
<p>Thanks for joining and have a great day!</p>