<%= rug_show_table_for(@enum, { 
	name: :string,
	ref: :string,
}) %>
<div class="hr-divider">
	<h3 class="hr-divider-content hr-divider-heading"><%= RicWebsite.enum_model.human_attribute_name("values") %></h3>
</div>
<%= rug_show_table_for(@enum, { 
	values: :store
}) %>
