<%= rug_form_for(@product, url: (@product.id.nil? ? products_path : product_path(@product))) do |f| %>
	<% @product.class.parts.each do |part| %>
		<h3><%= t("headers.ric_assortment.admin_products.#{part.to_s}") %></h3>
		<%= render partial: "form_#{part.to_s}", locals: { f: f } %>
	<% end %>
	<%= f.primary_button_row :submit %>
<% end %>
