<%= link_to document.current_version.attachment.url, "data-document-id" => document.id do %>
	<span class="document-mime-type">
		<i class="fas <%= mime_type_fa_icon(document.current_version.attachment_content_type) %> fa-3x"></i>
	</span>
	<span class="document-name">
		<%= document.name.to_s.gsub("_", " ") %>
	</span>
<% end %>