<li><%= link_to t("headers.ric_auth.profiles.edit").capitalize, ric_auth.edit_profile_path, icon: "user" %></li>
<li><%= link_to t("headers.ric_auth.profile_passwords.edit").capitalize, ric_auth.edit_profile_password_path, icon: "lock" %></li>