<li><%= link_to rug_icon(:profile) + t("headers.ric_auth_admin.profiles.edit").capitalize, ric_auth_admin.edit_profile_path %></li>
<li><%= link_to rug_icon(:password) + t("headers.ric_auth_admin.profile_passwords.edit").capitalize, ric_auth_admin.edit_profile_password_path %></li>