<% board_ticket_template = "ric_board/board_tickets/" + board_ticket_type[:key] %>
<div class="alert alert-<%= board_ticket_type[:style] %> <%= "alert-dismissible" if board_ticket.is_closable? %> board-ticket" role="alert" data-close-href="<%= ric_board.close_board_ticket_path(board_ticket) %>">
	<% if board_ticket.is_closable? %>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<% end %>
	<%= render partial: board_ticket_template, locals: { board_ticket: board_ticket } %>
</div>
