<p>Dobrý den,</p>

<p>na stránce <%= main_app.root_url %> bylo změněno heslo. Vaše nové přihlašovací údaje jsou:</p>

<p>
	Jméno: <strong><%= @user.email %></strong><br/>
	Heslo: <strong><%= @password %></strong>
</p>
