<li><%= link_to t("headers.ric_auth.public_profiles.edit").capitalize, ric_auth_public.edit_profile_path, icon: "user" %></li>
<li><%= link_to t("headers.ric_auth.public_profile_passwords.edit").capitalize, ric_auth_public.edit_profile_password_path, icon: "lock" %></li>