<%= render layout: "ric_admin/layouts/with_right_side" do %>
	<%= rug_show_table_for(@product_ticker, { 
		name: :string,
		key: :string
	}) %>

	<% if @product_ticker.products.count > 0 %>
		<h3><%= t("headers.ric_assortment.admin_product_tickers.products") %></h3>

		<%= rug_index_table_for(@product_ticker.products.order(position: :asc).page(params[:page]).per(50), { 
			name: :string,
			catalogue_number: :string,
			ean: :string
		}, paths: {
			show: :product_path,
			destroy: lambda { |product| product_ticker_relation_path(id: @product_ticker.id, product_id: product.id) }
		}, pagination: true ) %>
	<% end %>

<% end %>