<%

	def render_item(t, item, dropdown = "")
		result = ""
		
		if item[:type] == "delimiter"
			result += "<li class=\"delimiter\"></li>"
		else

			# Get URL
			if item[:url]
				url = eval("(#{item[:url]}).to_s")
			else
				url = "#"
			end

			# Get label
			label = I18n.t(item[:label], default: item[:label])

			# Active?
			if item[:active_if]
				active = eval("(#{item[:active_if]}) == true")
			elsif item[:dropdown]
				active = false
				item[:dropdown].each do |dropdown_item|
					active ||= eval("(#{dropdown_item[:active_if]}) == true")
				end
			else
				active = false
			end

			result += "<li class=\"#{(item[:icon] ? "icon-left icon-" + item[:icon] : "")} #{(active ? "active" : "")}\">"
			result += link_to(label, url)
			result += dropdown
			result += "</li>"
		end
		
		return result.html_safe
	end

%>

<div class="menu">
	<ul>
		<% @admin_header_menu.config(:items).each do |item| %>
			<% dropdown = "" %>
			<% if item[:dropdown] %>
				<% dropdown += "<div class=\"dropdown\"><ul>" %>
				<% item[:dropdown].each do |dropdown_item| %>
					<% dropdown += render_item(self, dropdown_item) %>
				<% end %>
				<% dropdown += "</ul></div>" %>
			<% end %>
			<%= render_item(self, item, dropdown) %>
		<% end %>
	</ul>
</div>