/*****************************************************************************/
/* Mixins                                                                    */
/*****************************************************************************/

@mixin clearfix() { 
	*zoom:1;
	&:before, &:after {
		content: "";
		display: table;
	}
		&:after {
		clear: both;
	}
}

/*****************************************************************************/
/* Layout                                                                    */
/*****************************************************************************/

.admin {

	font-family: "Open Sans";
	background: #efefef;

	h1, h2, h3, h4, h5, h6 {
		font-family: "Open Sans";
	}

	h2 {
		padding-top: 0.4em;
		padding-bottom: 0.6em;
	}

	a {
		color: #d04526;
		&:hover { color: #c03d20; }
	}

	table {
		thead {
			background-color: #477ea4;
		}
	}

	form {
		label, input, textarea {
			font-family: "Open Sans";
		}
	}

	.btn.primary, .skiplink.primary { background: #3085d6; border: 1px solid #3085d6; }
	.btn.primary:hover, .skiplink.primary:hover { background: #5b9ede; }
	.btn.primary:active, .skiplink.primary:active { background: #236bb0; }

	.btn.pretty.primary, .pretty .primary.btn, .pretty .primary.skiplink, .skiplink.pretty.primary { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1YjdlNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJhODVkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #85b7e7), color-stop(100%, #2a85dc)); background-image: -moz-linear-gradient(#85b7e7, #2a85dc); background-image: -webkit-linear-gradient(#85b7e7, #2a85dc); background-image: linear-gradient(#85b7e7, #2a85dc); -moz-box-shadow: inset 0 0 3px #f0f6fc; -webkit-box-shadow: inset 0 0 3px #f0f6fc; box-shadow: inset 0 0 3px #f0f6fc; border: 1px solid #1f5e9b; }
	.btn.pretty.primary:hover, .pretty .primary.btn:hover, .pretty .primary.skiplink:hover, .skiplink.pretty.primary:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyZDRmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU0YjJmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2d4fc), color-stop(100%, #54b2fe)); background-image: -moz-linear-gradient(#a2d4fc, #54b2fe); background-image: -webkit-linear-gradient(#a2d4fc, #54b2fe); background-image: linear-gradient(#a2d4fc, #54b2fe); -moz-box-shadow: inset 0 0 3px white; -webkit-box-shadow: inset 0 0 3px white; box-shadow: inset 0 0 3px white; border: 1px solid #0e90f8; }
	.btn.pretty.primary:active, .pretty .primary.btn:active, .pretty .primary.skiplink:active, .skiplink.pretty.primary:active { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhODVkYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg1YjdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a85dc), color-stop(100%, #85b7e7)); background-image: -moz-linear-gradient(#2a85dc, #85b7e7); background-image: -webkit-linear-gradient(#2a85dc, #85b7e7); background-image: linear-gradient(#2a85dc, #85b7e7); -moz-box-shadow: inset 0 0 3px white; -webkit-box-shadow: inset 0 0 3px white; box-shadow: inset 0 0 3px white; }
	.btn.pretty.primary a, .pretty .primary.btn a, .pretty .primary.skiplink a, .btn.pretty.primary input, .pretty .primary.btn input, .pretty .primary.skiplink input, .btn.pretty.primary button, .pretty .primary.btn button, .pretty .primary.skiplink button, .skiplink.pretty.primary a, .skiplink.pretty.primary input, .skiplink.pretty.primary button { text-shadow: 0 1px 1px #1a5186; }

	.alert {
		font-family: "Open Sans";
	}

	/*************************************************************************/
	/* Header                                                                */
	/*************************************************************************/

	.navbar {
		background: #4a4d50 image-url("ric_admin/header_bg.png") repeat-x left bottom;
		margin-bottom: 0;
		
		.logo {
			display: inline-block; vertical-align: bottom;
		}

		.menu {
			display: inline-block; vertical-align: bottom;

			[class^="icon-"] a:before, 
			[class*=" icon-"] a:before {
				position: static;
				margin-right: 10px;
			} 
			[class^="icon-"] a:after, 
			[class*=" icon-"] a:after {
				position: static;
				margin-left: 10px;
			}

			li > a {
				padding: 0 15px;
				color: #ffffff;
			}

			li.delimiter {
				padding: 0 15px;

				&:before {
					content: " ";
					display: inline-block;
					vertical-align: middle;
					background: #757575;
					width: 2px;
					height: 40px;
				}
			}

			li.active > a {
				background: image-url("ric_admin/header_focus.png") no-repeat 50% bottom;

				&:hover {
					background: #868d92 image-url("ric_admin/header_focus.png") no-repeat 50% bottom;				
				}
			}
		}
	}

	/*************************************************************************/
	/* Footer                                                                */
	/*************************************************************************/

	.footer { 
		color: #ffffff;
		background: #406178 image-url("ric_admin/footer_bg.png") repeat-x left top;
		font-size: 90%; 
		padding: 20px 0; 

		a {
			color: #ffffff;
			font-weight: 600;
		}

		.menu {
			text-align: center;
			margin: 25px 0;

			li {
				display: inline-block;
				vertical-align: top; 
				margin-right: 10px;
				a { margin-right: 15px;	}
				&:after { content: "|";	}

				&:last-child {
					margin-right: 0;
					a { margin-right: 0; }
					&:after { content: "";}
				}
			}
		}

		.copy {
			text-align: center;
			margin: 25px 0;
			font-size: 80%; 
			
			li {
				display: inline-block;
				vertical-align: top; 
				margin-right: 60px;
				min-width: 80px;
				line-height: 18px;

				&:last-child {
					margin-right: 0;
				}

			}
		}

	}

	/*************************************************************************/
	/* Content and other components                                          */
	/*************************************************************************/

	.login-info { 
		margin-bottom: 0;
		font-size: 80%;

		[class^="icon-"] a:before, 
		[class*=" icon-"] a:before {
			position: static;
			margin-right: 10px;
		} 
		[class^="icon-"] a:after, 
		[class*=" icon-"] a:after {
			position: static;
			margin-left: 10px;
		}

		li { 
			display: inline-block; 
			vertical-align: top; 
			margin-right: 10px;
			a { margin-right: 15px; }
			&:after { content: "|"; }

			&:last-child {
				margin-right: 0;
				a { margin-right: 0; }
				&:after { content: ""; }
			}
		}
	}

	.content {
		padding: 20px 45px 56px 45px;

		.flash.dummy {
			height: 36px;
		}
	}

	.side {
		background: #ffffff;
		padding: 20px 25px 25px 25px;

		h2 {
			padding-bottom: 0.3em;
		}

		.login-info { 
			min-height: 36px;
		}

		.menu {
			margin-left: -25px;
			margin-right: -25px;

			[class^="icon-"] a:before, 
			[class*=" icon-"] a:before {
				position: static;
				margin-right: 10px;
			} 
			[class^="icon-"] a:after, 
			[class*=" icon-"] a:after {
				position: static;
				margin-left: 10px;
			}

			li {
				padding: 0 25px;
				transition: 0.1s;

				a {
					display: block;
					min-height: 40px;
					padding: 6px 0;
					border-top: 1px solid #dddddd;
				}

				&:first-child a {
					border-top: 1px solid transparent;
				}

				&:last-child a {
					border-bottom: 1px solid #dddddd;	
				}

				&.active {
					background-image: image-url("ric_admin/side_focus.png");
					background-repeat: no-repeat;
					background-position: left top;
				}

				&:hover {
					background-color: #626262;
					
					a {
						border-top: none;
						border-bottom: none;
						color: #f7ae9e;
						text-shadow: 0 1px 2px #191a1b, 0 1px 0 #191a1b;
					}
				
					+ li a {
						border-top: 1px solid transparent;
					}
				}
			}
		}
	}
	
	/*************************************************************************/
	/* Content layouts                                                       */
	/*************************************************************************/

	.layout {
		@include clearfix();
		min-height: 700px;
	}

	.layout.with_right_side {
		display: table;
		width: 100%;

		.content {
			display: table-cell;
			vertical-align: top;
		}

		.side {
			display: table-cell;
			vertical-align: top;
			width: 25%;
		}

	}

	.layout.default {
		
		.flash {
			float: left;
		}

		.login-info {
			float: right;
			text-align: right;
		}

	}

}