<h1 class="logo">
	<a href="<%= eval("(#{@portal_header_logo.config(:url)}).to_s") %>">
		<%= image_tag(image_url(@portal_header_logo.config(:image))) %>
		<span class="title"><%= @portal_header_logo.config(:title) %></span>
	</a>
</h1>