<ul class="menu">
	<li><%= link_to t("headers.ric_admin.public.terms"), ric_admin.public_terms_path %></li>
	<li><%= link_to t("headers.ric_admin.public.accessibility"), ric_admin.public_accessibility_path %></li>
	<li><%= link_to t("headers.ric_admin.public.help"), ric_admin.public_help_path %></li>
	<li><%= link_to t("headers.ric_admin.public.contact"), ric_admin.public_contact_path %></li>
</ul>