<%= rug_show_table_for(@structure, { 
	name: :string,
	ref: :string,
	description: :string,
	icon: :string,
	show_in_navigation: :boolean,
	is_navigable: :boolean,
	include_in_url: :boolean,
	has_attachments: :boolean,
}) %>
<h3><%= RicWebsite.structure_model.human_attribute_name("fields") %></h3>
<%= rug_index_table_for(@structure.fields.order(position: :asc), { 
	name: :string,
	ref: :string,
	kind: :enum,
	include_in_url: :boolean
}, paths: {
	new: lambda { ric_website_admin.new_structure_field_path(@structure) }, 
	show: lambda { |field| ric_website_admin.structure_field_path(@structure, field) }, 
	edit: lambda { |field| ric_website_admin.edit_structure_field_path(@structure, field) }, 
	move: lambda { |field, relation, destination_id| ric_website_admin.move_structure_field_path(@structure, field, relation, destination_id) }, 
	destroy: lambda { |field| ric_website_admin.structure_field_path(@structure, field) }
}, moving: true, summary: true) %>
