table.timetable {
	
	border: 1px solid #e5e5e5 !important;
	background-color: #ffffff !important;

	/**
	 * Gumby reset
	 */
	tr td { 
		border-top: 0; 
		&:first-child { font-weight: normal; }
	}

	td {
		font-size: 90%;
		height: 1px;

		/* Borders */
		&.bottom-solid { border-bottom: 1px solid #e5e5e5; }
		&.bottom-invisible { border-bottom: 0; }
		&.right-solid { border-right: 1px solid #e5e5e5; }
		&.right-dotted { border-right: 1px dotted #e5e5e5; }

		&.header {
			background: #f6f6f6;
			.day-of-week { font-weight: bold; }
			.week-of-year { font-weight: bold; }
		}

		&.empty, &.item {
			.padding { padding: 10px; }
			.title, a.title { padding: 5px 10px; font-weight: bold; color: inherit; }
			.title + * {
				border-top: 1px solid #e5e5e5;
			}
		}

		&.empty {
			padding: 0;
			a { display: block; width: 100%; padding: 10px; }
		}

		&.item {
			padding: 0; 
			border: 1px solid #e5e5e5;
			&.state-closed, &.at-capacity { 
				color: #aaaaaa; 
				a { color: #aaaaaa; }
			}
			i { margin: 0; }
			cursor: default; 
			a { display: block; width: 100%; padding: 10px; color: #555555; }
			
			/* Backgrounds */
			&.color-yellow { background: #fff178; }
			&.color-yellow.state-closed, &.color-yellow.at-capacity { background: #faf3b7; }
			&.color-turquoise { background: #71e8ac; }
			&.color-turquoise.state-closed, &.color-turquoise.at-capacity { background: #b5eed1; }
			&.color-blue { background: #a2e1f1; }
			&.color-blue.state-closed, &.color-blue.at-capacity { background: #ceeff7; }
			&.color-pink { background: #ff79a9; }
			&.color-pink.state-closed, &.color-pink.at-capacity { background: #fda8c6; }
			&.color-violet { background: #bdb0ff; }
			&.color-violet.state-closed, &.color-violet.at-capacity { background: #d7d0f6; }
			&.color-orange { background: #f89d7a; }
			&.color-orange.state-closed, &.color-orange.at-capacity { background: #f4baa4; }
			&.color-red { background: #fa7c7c; }
			&.color-red.state-closed, &.color-red.at-capacity { background: #f9b8b8; }
			&.color-green { background: #c2f39a; }
			&.color-green.state-closed, &.color-green.at-capacity { background: #e0f7cd; }
			&.color-grey { background: #eeeeee; }
			&.color-grey.state-closed, &.color-grey.at-capacity { background: #eeeeee; }
		}
	}

	i[class^="icon-"]:before, i[class*=" icon-"]:before {
		background: #cbcbcb;
		display: inline-block;
		height: 18px;
		width: 18px;
		font-size: 12px;
		font-weight: bold;
		line-height: 18px;
		color: white;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
	a:hover i[class^="icon-"]:before, i[class*=" icon-"]:before {
		background: #555555;
	}
}

/**
 * Pagination
 */
.timetable-pagination { 
	display: table; 
	width: 100%; 
	margin: 10px 0; 

	> div { display: table-cell; width: 33%; }
	.prev { text-align: left; }
	.title { text-align: center; }
	.next { text-align: right; }

	a.active {
		font-weight: bold;
	}
}

/**
 * Line
 */

hr.reservation-line {
	border-top: 3px solid black;
}