<li><%= link_to t("headers.ric_account.account.user").capitalize, ric_account.account_user_path, icon: "user" %></li>
<li><%= link_to t("headers.ric_account.account.password").capitalize, ric_account.account_password_path, icon: "lock" %></li>