<%= rug_hierarchical_index_table_for(@gallery_directories, { 
	name: :string,
	description: :text
}, paths: {
	show: :gallery_directory_path,
	edit: :edit_gallery_directory_path,
	move_up: :move_up_gallery_directory_path,
	move_down: :move_down_gallery_directory_path,
	destroy: :gallery_directory_path
}, moving: true, summary: true ) %>

<h3><%= t("headers.ric_gallery.admin_gallery_directories.pictures") %></h3>

<%= rug_picture_index_table_for(@gallery_pictures, { 
	picture: { type: :picture, thumb_style: :thumb },
	title: :string
}, paths: {
	new: :new_gallery_picture_path,
	edit: :edit_gallery_picture_path,
	move: :move_gallery_picture_path,
	destroy: :gallery_picture_path
}, moving: true) %>
