<li><%= link_to rug_icon(:sign_in) + t("headers.ric_auth.admin_sessions.new").capitalize, ric_auth_admin.new_session_path %></li>
<% if RicAuth.user_model.recoverable? %>
	<li><%= link_to rug_icon(:recover) + t("headers.ric_auth.admin_passwords.new").capitalize, ric_auth_admin.new_password_path %></li>
<% end %>