<div class="newies">
	<% @newies_ticker.newies.each do |newie| %>
		<div class="item">
			<%= link_to ric_journal_public.newie_path(newie) do %>
				<span class="published_at"><%= l(newie.published_at) %></span>
				<span class="title"><%= newie.title %></span>
				<span class="perex"><%= newie.perex.html_safe if newie.perex %></span>
			<% end %>
		</div>
	<% end %>
</div>