<div class="ric-dms-listing-files">

	<% @files.each do |file| %>
		<div class="ric-dms-folder">
			<%= link_to file, "data-document-id" => file.id do %>
				<span class="ric-dms-mime-type">
					<i class="fa <%= mime_type_fa_icon file.current_version.attachment_content_type %> fa-3x"></i>
				</span>
				<span class="ric-dms-name">
					<%= file.name %>
				</span>
			<% end %>
		</div>
	<% end %>

</div>