<div class="ric-dms-listing">
	<%= render partial: "ric_dms/document_folders/listing_folders" %>
	<%= render partial: "ric_dms/document_folders/listing_files" %>
</div>

<%#= link_to "Smazat", folder, method: :delete %>
