<p>
	<%= link_to "Nová složka", ric_dms.new_document_folder_path, class: "btn btn-default" %>
	<%= link_to "Nový soubor", ric_dms.new_document_path, class: "btn btn-default" %>
</p>

<%= render partial: "ric_dms/document_folders/listing" %>
