<li><%= link_to t("headers.ric_auth.admin_accounts.edit").capitalize, ric_auth_admin.edit_account_path, icon: "user" %></li>
<li><%= link_to t("headers.ric_auth.admin_passwords.edit").capitalize, ric_auth_admin.edit_password_path, icon: "lock" %></li>