<li><%= link_to rug_icon(:profile) + t("headers.ric_auth.admin_accounts.edit").capitalize, ric_auth_admin.edit_account_path %></li>
<li><%= link_to rug_icon(:password) + t("headers.ric_auth.admin_passwords.edit").capitalize, ric_auth_admin.edit_password_path %></li>