<div class="ric-dms-listing-folders">

	<% @folders.each do |folder| %>
		<div class="ric-dms-folder">
			<%= link_to folder, "data-document-folder-id" => folder.id do %>
				<span class="ric-dms-mime-type">
					<i class="fa fa-folder-o fa-3x"></i>
				</span>
				<span class="ric-dms-name">
					<%= folder.name %>
				</span>
			<% end %>
		</div>
	<% end %>

</div>