<ol class="breadcrumb">
	<li><%= link_to "Domů", ric_calendar.document_folders_path %></li>

	<% if @current_folder %>
		<% @current_folder.self_and_ancestors.each do |folder| %>
			<li><%= link_to folder.name, folder %></li>
		<% end %>
	<% end %>
</ol>
