<ul class="languages">
	<% I18n.available_locales.each do |locale| %>
		<li class="<%= locale.to_s %>"><%= link_to t("views.languages.#{locale.to_s}"), locale: (locale == I18n.default_locale ? nil : locale) %></li>
	<% end %>
</ul>