<div class="product_categories_submenu">
	<%= nested_ul(@product_categories_submenu.product_categories) do |product_category| %>
		<%= link_to product_category.name, ric_assortment_public.from_category_products_path(product_category_id: product_category.id), class: (@product_category && product_category.id == @product_category.id ? "active" : "") %>
	<% end %>
</div>