/*****************************************************************************/
/* Colors                                                                 */
/*****************************************************************************/

$yellow: #fff178;
$yellow-dark: #cbbb2d;

$turquoise: #71e8ac;
$turquoise-dark: #3ba670;

$blue: #a2e1f1;
$blue-dark: #61a9bc;

$pink: #ff79a9;
$pink-dark: #c74573;

$violet: #bdb0ff;
$violet-dark: #8979d7;

$orange: #f89d7a;
$orange-dark: #ce6b45;

$red: #fa7c7c;
$red-dark: #b64747;

$green: #c2f39a;
$green-dark: #83c350;