<li><%= link_to t("headers.ric_auth.public_accounts.edit").capitalize, ric_auth_public.edit_account_path, icon: "user" %></li>
<li><%= link_to t("headers.ric_auth.public_passwords.edit").capitalize, ric_auth_public.edit_password_path, icon: "lock" %></li>