<%= render partial: "ruth_admin/components/page_header" %>
<%= rug_show_table_for(@product_category, { 
	name: :string,
	default_attributes: :string_array,
	parent: { type: :belongs_to, label: :name, path: :product_category_path },
	children: { type: :has_many, label: :name, path: :product_category_path },
}) %>

<% if @product_category.products.count > 0 %>
	<h3><%= RicAssortment.product_category_model.human_attribute_name("products") %></h3>
	<%= rug_index_table_for(@product_category.products.order(position: :asc).page(params[:page]).per(50), {
		name: :string,
		catalogue_number: :string,
		ean: :string
	}, paths: {
		show: :product_path,
		edit: :edit_product_path,
		move: :move_product_path,
	}, moving: true, pagination: true ) %>
<% end %>
