<%= render layout: "ric_admin/layouts/with_right_side" do %>
	<%= rug_hierarchical_index_table_for(@gallery_directories, { 
		name: :string,
		description: :text
	}, paths: {
		show: :directory_path,
		edit: :edit_directory_path,
		destroy: :directory_path
	}, summary: true ) %>

	<% if @gallery_pictures.count > 0 %>
		<h3><%= t("headers.ric_gallery.admin_directories.pictures") %></h3>

		<%= rug_index_table_for(@gallery_pictures, { 
			picture: { type: :picture, thumb_style: :thumb },
			title: :string
		}, paths: {
			show: :picture_path,
			edit: :edit_picture_path,
			destroy: :picture_path
		} ) %>
	<% end %>

<% end %>