<p class="navbar-text <%= align ? "navbar-" + align.to_s : "" %> m-r m-l">
	<% if current_organization %>
		<%= current_user.user_roles.where("person_id = ? OR person_id IS NULL", current_organization.id).map { |user_role| user_role.role.name }.join(", ").truncate(length: 30) %>
		<span class="m-r-sm m-l-sm">•</span>
		<%= current_organization.name.truncate(length: 30) %>
	<% else %>
		<%= current_user.user_roles.where("person_id IS NULL", current_organization.id).map { |user_role| user_role.role.name }.join(", ").truncate(length: 30) %>
	<% end %>
</p>